/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main__color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --text-color:rgba(241, 178, 206, 1);
  --button__color: rgba(255, 0, 112, 1);

  --subtitle_text_color: rgba(255, 0, 112, 1);
  --decor-text_color: rgba(0, 0, 40, 1);
  --decorated-zone-color: rgba(255, 0, 112, 1);
  --bg-color: rgba(0, 0, 40, 1);
  --bg-image: url(../images/cover-image-dark.png);
  --hover-color_light: rgba(255, 0, 112, 0.4);
  --focus-color: rgba(255, 0, 112, 1);

}

@media (prefers-color-scheme: dark) {

  :root {
  --main__color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --text-color:rgba(241, 178, 206, 1);
  --button__color: rgba(255, 0, 112, 1);

  --subtitle_text_color: rgba(255, 0, 112, 1);
  --decor-text_color: rgba(0, 0, 40, 1);
  --decorated-zone-color: rgba(255, 0, 112, 1);
  --bg-color: rgba(0, 0, 40, 1);
  --bg-image: url(../images/cover-image-dark.png);
  --hover-color_light: rgba(255, 0, 112, 0.4);
  --focus-color: rgba(255, 0, 112, 1);
  }

  .header__rec {
    display: block;
  }
}

.theme-dark .header__rec {
  display: block;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
