:root {

  --main-font: 'IBM Plex mono';
  --mobile-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --desktop-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --main-font-size: 18px;
  --normal-weight: 400;
  --bold-weight: 700;
}
